.a{
    background-color: blue;
    height: 250px;
    margin-bottom: 10px;
    overflow: scroll;
}
.b{
    background-color: brown;
    height: 250px;
    margin-bottom: 10px;
}
.c{
    background-color:green;
    height: 250px;
    margin-bottom: 10px;  
}
.d{
    background-color: yellow;
    height: 250px;
    margin-bottom: 10px;
}
